# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
src/main/java/me/oribuin/main/Settings.java
src/main/java/me/oribuin/commands/testers/EditTime.java
src/main/java/me/oribuin/commands/testers/Tester.java
src/main/java/me/oribuin/commands/admin/guild/GuClone.java
src/main/java/me/oribuin/commands/admin/ori/DeleteServer.java
src/main/java/me/oribuin/commands/admin/ori/GetInvite.java
src/main/java/me/oribuin/commands/admin/ori/logs/logging.txt
src/main/java/me/oribuin/commands/admin/ori/ImgLog.java
src/main/java/me/oribuin/commands/admin/ori/logging.txt
Startup Lil Ori.lnk
src/main/java/me/oribuin/commands/admin/ori/MsgLog.java
src/main/java/me/oribuin/commands/information/bot/GetUsage.java
src/main/java/me/oribuin/main/FormatSaves
src/main/java/me/oribuin/commands/hangout/FormatSaves
src/main/java/me/oribuin/commands/hangout/MsgLog.java
src/main/java/me/oribuin/commands/hangout/SayEmbed.java
